.shape {
	min-height: 80px;
	min-width: 80px;
	max-height: 100px;
	max-width: 100px;
}

.active {
	box-shadow: 0px 5px;
}

.active-box{
	background-color: white !important;
}

.square {
	padding: 6%;
	background-color: grey;
	border: 1px solid black;
}

#q1-error{
	display: none;
}